* {
    box-sizing: border-box;
}

.ActivityDetails-Container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem 4rem 2rem 4rem;
    width: 100%;
    
}
.ActivityDetails-Header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%; height:auto;
    border: 1px solid blue;
    border-width: 0 0 1px 0;
    padding:1rem 0 1rem 0;

}
.ActivityDetails-Nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 2rem 0 0 0;
    box-sizing:border-box;
    max-width:100%;
    overflow-x:auto;
}
.ActivityDetails-Nav button {
    font-size: 20px;
    border: none;
    padding: 8px 2rem;
    cursor:pointer;
}
.ActivityDetails-Content{
    width:100%;
    height:auto;
    margin:1rem 0 0 0;
}
@media(max-width:500px){
    .ActivityDetails-Container {
        padding: 2rem 8px 2rem 8px;
    }
}