@page "/{Event_Id}/activities/edit"
@inject Eventify.Data.ApplicationDbContext DB
@using Eventify.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Activity</h4>
<hr />
@if (Activity is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Activity" OnValidSubmit="UpdateActivity" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Activity.Id" value="@Activity.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Activity.Name" class="form-control" />
                    <ValidationMessage For="() => Activity.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <InputDate id="date" @bind-Value="Activity.Date" class="form-control" />
                    <ValidationMessage For="() => Activity.Date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="starttime" class="form-label">StartTime:</label>
                    <InputDate Type="InputDateType.Time" id="starttime" @bind-Value="Activity.StartTime" class="form-control" />
                    <ValidationMessage For="() => Activity.StartTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="endtime" class="form-label">EndTime:</label>
                    <InputDate Type="InputDateType.Time" id="endtime" @bind-Value="Activity.EndTime" class="form-control" />
                    <ValidationMessage For="() => Activity.EndTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="venue" class="form-label">Venue:</label>
                    <InputText id="venue" @bind-Value="Activity.Venue" class="form-control" />
                    <ValidationMessage For="() => Activity.Venue" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/activities">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Activity? Activity { get; set; }

    [Parameter]
    public string Event_Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Activity ??= await DB.Activity.FirstOrDefaultAsync(m => m.Id == Id);

        if (Activity is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateActivity()
    {
        DB.Attach(Activity!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ActivityExists(Activity!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo($"/events/details?id={Event_Id}");
    }

    bool ActivityExists(int id)
    {
        return DB.Activity.Any(e => e.Id == id);
    }
}
