@page "/events"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Eventify.Data.ApplicationDbContext DB
@using Eventify.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="events/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Events">
    <PropertyColumn Property="events => events.EventName" />
    <PropertyColumn Property="events => events.Status" />
    <PropertyColumn Property="events => events.Date" />
    <PropertyColumn Property="events => events.StartTime" />
    <PropertyColumn Property="events => events.EndTime" />
    <PropertyColumn Property="events => events.Venue" />

    <TemplateColumn Context="events">
        <a href="@($"events/edit?id={events.Id}")">Edit</a> |
        <a href="@($"events/details?id={events.Id}")">Details</a> |
        <a href="@($"events/delete?id={events.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
