@page "/About"
@layout Eventify.Components.Layout.LandingLayout

<div class="About-Page">

    <div class="About-Container">
        <h1> About system </h1>

        <div class="About-Details">
            <p>      Eventify is a global contest management system that aims to revolutionize the way contests and competition are organized and executed. Eventify allows organizers to create and customize contest with ease, providing options for defining competition categories, entry requirements, and judging criteria. Participants can register direclty to the eventify Platform, providing essential information and submitting necessary documentation effortlessly. Eventify provides the tools and support that you need to bring a fair judgement.</p>
        </div>
    </div>
    
</div>
