@layout Eventify.Components.Layout.LandingLayout
@page "/Features"

<div class="Containerh1">

    <h1 class="">FEATURES</h1>

</div>
<p style="margin:0 0 1rem 0;" class="p1">Overview of our key features, that makes us your great partner</p>
<div class="ContainerOverview">
    <div class="feature-container">
        <h2 class="systematic">Systematic Judging</h2>
        <span class="systematicparagh">A web application that allows you to tailor criteria, set rules, and manage competition rounds. This includes creating custom scorecards with details like titles, descriptions, and scoring ranges. You can also assign judges, establish specific judging rounds, and provide activity or contest guidelines.</span>
        <hr/>
        <hr />
    </div>
    


    <div class="feature-container">
        <h2 class="eventmanagement">Event Management</h2>
        <span class="eventparagh">A web application that allows you to tailor criteria, set rules, and manage competition rounds. This includes creating custom scorecards with details like titles, descriptions, and scoring ranges. You can also assign judges, establish specific judging rounds, and provide activity or contest guidelines.</span>
        <hr />
        <hr />
    </div>
    


    <div class="feature-container">
        <h2 class="scoring">Seamless Scoring and Reports</h2>
        <span class="scoreparagh">A web application that allows you to tailor criteria, set rules, and manage competition rounds. This includes creating custom scorecards with details like titles, descriptions, and scoring ranges. You can also assign judges, establish specific judging rounds, and provide activity or contest guidelines.</span>
        <hr />
        <hr />
    </div>
</div>
