@page "/Features"
@layout Eventify.Components.Layout.LandingLayout

<div class="Containerh1">

    <h1 class="">FEATURES</h1>

</div>

<div class="ContainerOverview">

    <p class="p1">Overview of our key features, that makes us your great partner</p>



    <div class="Systemjudging">
    </div>
    <span class="systematic">Systematic Judging</span>
    <span class="systematicparagh">A web application that allows you to tailor criteria, set rules, and manage competition rounds. This includes creating custom scorecards with details like titles, descriptions, and scoring ranges. You can also assign judges, establish specific judging rounds, and provide activity or contest guidelines.</span>


    <div class="Event">
    </div>
    <span class="eventmanagement">Event Management</span>
    <span class="eventparagh">A web application that allows you to tailor criteria, set rules, and manage competition rounds. This includes creating custom scorecards with details like titles, descriptions, and scoring ranges. You can also assign judges, establish specific judging rounds, and provide activity or contest guidelines.</span>


    <div class="Scoring">
    </div>
    <span class="scoring">Seamless Scoring and Reports</span>
    <span class="scoreparagh">A web application that allows you to tailor criteria, set rules, and manage competition rounds. This includes creating custom scorecards with details like titles, descriptions, and scoring ranges. You can also assign judges, establish specific judging rounds, and provide activity or contest guidelines.</span>


</div>

