@page "/home"
@layout Eventify.Components.Layout.MainLayout
@inject Eventify.Data.ApplicationDbContext db
@using Eventify.Data
@using Eventify.Components.Pages.HomeComponents
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavManager

@attribute [Authorize]

<PageTitle>Home</PageTitle>


<div style="display:flex;flex-direction:column;width:100%;height:100%;justify-content:start;align-items:start;position:relative;">
    <div class="home-container" style="">
        @foreach (var Event in db.Events.OrderBy(date => date.Date))
        {
            <EventCardView style="margin: 0 1.5rem 1.5rem 0;" Event="Event" />
        }
        @*         @for (int i = 0; i < 5; i++)
        {
        <EventCardView style="margin: 0 1.5rem 1.5rem 0;" />
        } *@

    </div>
    <a href="/events/create" style="position:absolute;
                                    bottom:4rem;
                                    right:1rem;
                                    display:flex;
                                    flex-direction:column;
                                    justify-content:center;
                                    align-items:center;
                                    background-color:#FFD803;
                                    border-radius:50%;
                                    padding: 1rem;
                                    box-sizing:border-box;
                                    box-shadow: 0px 4px 6px rgba(0,0,0,0.4)">
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24"><path fill="black" d="M11 13H5v-2h6V5h2v6h6v2h-6v6h-2z" /></svg>
    </a>
</div>
