@page "/home"
@layout Eventify.Components.Layout.MainLayout
@using Eventify.Components.Pages.HomeComponents

<PageTitle>Home</PageTitle>
<div style="display:flex;flex-direction:column;width:100%;height:auto;justify-content:center;align-items:center;">
    <div style="display:flex;flex-direction:row;flex-wrap:wrap;padding:2rem 2rem 2rem 2rem;width:auto;height:auto;box-sizing:border-box;">
        @for (int i = 0; i < 5; i++)
        {
            <EventCardView style="margin: 0 1.5rem 1.5rem 0;" />
        }
    </div>
</div>

