@page "/"
@layout Eventify.Components.Layout.LandingLayout


<div class="landingPage-container">
    <div class="landingPage-contentContainer">
        <div class="text-container">
            <div><h5 style="" id="tagline1">Your Platform for Judged Competitions</h5></div>
            <div>
                <h1 style="" id="tagline2">
                    Organize, Showcase, <br />and Excel
                </h1>
            </div>
            <div style="margin-top:1rem;">
                <p style="" id="tagline3">
                    Create and manage events, invite contestants, and provide
                    judges with a streamlined rating system. With user-friendly
                    features, you can focus on celebrating talent and
                    achieving excellence.
                </p>
            </div>
        </div>
        <div class="illustration-container">
            <img id="illustration" style="" src="images/illustration1.png" />
        </div>
    </div>
</div>

@code {
    
}