@page "/"
@layout Eventify.Components.Layout.LandingLayout


<div class="landingPage-container">
    <div class="landingPage-contentContainer">
        <div class="text-container">
            <div><h5 style="" id="tagline1">Your Platform for Judged Competitions</h5></div>
            <div>
                <h1 style="" id="tagline2">
                    Organize, Showcase, <br />and Excel
                </h1>
            </div>
            <div style="margin-top:1rem;">
                <p style="" id="tagline3">
                    Create and manage events, invite contestants, and provide
                    judges with a streamlined rating system. With user-friendly
                    features, you can focus on celebrating talent and
                    achieving excellence.
                </p>
            </div>
        </div>
        <div class="illustration-container">
            <img id="illustration" style="" src="images/illustration2.svg" />
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authenticationState = await authenticationStateTask;

        if (authenticationState.User.Identity.IsAuthenticated)
        {
            if (authenticationState.User.IsInRole("Organizer"))
            {
                NavigationManager.NavigateTo("/home");

            }
            else
            {
                NavigationManager.NavigateTo("/Judge/Home");
            }
        }

        // rest of the code
    }
}