*{
    box-sizing:border-box;
}
table{
    border-collapse:collapse;
    row-gap: 2px;
    border-spacing: 10px 0;
}
table tr:nth-child(even) {
    background-color: #fffffe;
    padding: 10px 10px;
}

table tr:nth-child(odd) {
    background-color: #E9E9E9;
    padding: 10px 10px;
}

tr td:first-child {
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    color: #696969;
    padding: 6px 0 6px 8px;
}
tr td:last-child {
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    color: #696969;
    padding: 6px 8px 6px 0;
}