@inherits LayoutComponentBase

<div class="layout-content">
    <!--NavBar-->
    <div class="custom-navbar">
        <LandingNavBar/>
    </div>
    <main>
        @Body
        <img class="decoration-left" src="images/decor-left.svg" />
        <img class="decoration-right" src="images/decor-right.svg"/>
    </main>
</div>