@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase


<div class="mainlayout">
    <div class="mainlayout-navbar-container">
        <MainlayoutNavbar />
    </div>
    <div class="mainlayout-sidebar-container">
        <AuthorizeView Roles="Organizer">
            <MainLayoutSidebar />
        </AuthorizeView>
    </div>
    <div class="mainlayout-maincontent">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


