@inherits LayoutComponentBase

<div class="mainlayout">
    <div class="mainlayout-navbar">
        <div style="width:100%;height:75px;">

        </div>
    </div>
    <div class="mainlayout-sidebar">

    </div>
    <div class="mainlayout-maincontent">
        @Body
    </div>
</div>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
