
<NavLink class="nav-link" href="Account/Manage">
    <div class="mainlayout-navbar" style="">
        <div class="mainlayout-invisible-object"></div>
        <img class="mainlayout-logo" src="LogoWhite.png" />
        <img class="mainlayout-userProfile" src="https://pbs.twimg.com/media/Fip8lYtXgAU--Zf.jpg:large" />
    </div>
</NavLink>

