

<div class="mainlayout-navbar" style="">
    <button class="mainlayout-burger">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 32 32"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 8h22M5 16h22M5 24h22" /></svg>
    </button>
    <img class="mainlayout-logo" src="LogoWhite.png" />
    <img class="mainlayout-userProfile" src="https://pbs.twimg.com/media/Fip8lYtXgAU--Zf.jpg:large" />
</div>

