
<div class="mainlayout-navbar" style="">
    <div class="mainlayout-invisible-object"></div>
    <NavLink class="nav-link" href="/home">
        
        <img class="mainlayout-logo" src="LogoWhite.png" />
    </NavLink>
    <NavLink class="nav-link" href="Account/Manage">
        <img class="mainlayout-userProfile" src="https://pbs.twimg.com/media/Fip8lYtXgAU--Zf.jpg:large" />
    </NavLink>
</div>

    
