* {
    box-sizing: border-box;
}
.judgingsheet-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    border: 1px solid #4263EB;
    padding: 1rem;
    border-width: 0 0 1px 0;
}
.judgingsheet-header img {
    width: 45px;
    height: 45px;
}
.judgingsheet-header h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 0 1rem;
}
.judgingsheet-header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin: 0 0 0 auto;
}
@media(max-width:700px) {
    .judgingsheet-header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .judgingsheet-header img {
        width: 25px;
        height: 25px;
    }

    .judgingsheet-header h1 {
        font-size: 20px;
    }

    .judgingsheet-header p {
        font-size: 13px;
    }

    .judgingsheet-header div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 0 0 0 0;
    }
}