@using Eventify.Data

<a class="Sidebar-events-button" href="@($"events/details?id={Event!.Id}")">
    <div class="EventProfile">
        <strong>@Event.EventName[0]</strong>
        
    </div>
    <div class="EventTitle">
        @Event.EventName
    </div>
</a>

@code{
    [Parameter]
    public Events? Event {get;set;}
}
