.forgot-password-container{
    margin: 6rem 0 0 0;
    padding: 4rem 2rem 6rem 2rem;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    border: solid 1px black;
    border-radius: 12px;
    background-color: #fffffe;
    max-width: 375px;
    box-sizing:border-box;
}
.forgot-password-formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forgot-password-container h1{
    font-size:25px;
}
.forgot-password-container h3 {
    margin: 1rem 0 0 0;
    color: #4263EB;
    margin: 2rem 0 0 0;
}
.forgot-password-container h5 {
    margin: 1rem 0 0 0;
    color: #272343;
    font-weight: 400;
    text-align: center;
}
.forgot-password-inputEmail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px 0 2rem 0;
    border:none;
}
.forgot-password-resetButton {
    padding: 12px 0;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #4263EB;
    color:white;
    cursor:pointer;
}
.forgot-password-resetButton:hover {
    background-color: #272343;
}

@media(max-width:400px){
    .forgot-password-container{
        width:100%;
    }
}