@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>
<div class="Forgot-password_container">

    <div class="forgot-passwordConfirmation-wrapper">
        <p>
            Please check your email to reset <br/> your password.
        </p>
    </div>
    

</div>

