
<div class="event-cardview-container">
    <section class="event-cardview-header">

    </section>
    <section class="event-cardview-mid">

    </section>
    <section class="event-cardview-footer">

    </section>
</div>

@code {

}
