@using Eventify.Data
@layout Eventify.Components.Pages.EventsPages.Details

<div class="ActivitiesSection-Container">
    <h3>Activities</h3>
    
</div>

@code{
    [Parameter]
    public Events? Event {get;set;}
}
