@using Eventify.Data

<div style="display:flex;flex-direction:column;justify-content:start;align-items:start;">
    <h3>Activity Information</h3>
    <div style="display:grid;grid-template-columns: 450px auto;">
        <div style="width:100%; height:auto;padding:1rem;border:1px solid black;">
            <form style="width:100%; height:auto;display:flex;flex-direction:column;justify-content:center;align-items:center;">
                <div style="width:100%;height:auto;display:flex;flex-direction:row;justify-content:end;align-items:center;">
                    <button>Cancel</button>
                    <button>Save</button>
                    <button>Edit</button>
                </div>
                <div style="width:100%;height:auto;display:flex;flex-direction:column;justify-content:center;align-items:start;">
                    <label>Date</label>
                    <input type="date" style="width:100%;" @bind="@Activity.Date"/>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Activity? Activity { get; set; }
}
